{% extends 'base.html'%}


{% block content %}
{{block.super}}

<div class="w3-container w3-section" style="margin-top:100px;">
    <div class="w3-row w3-margin">
        <div class="col-md-2 w3-hide-small">


        </div>
        <div class="col-md-8 ">
            {% for pic in pics %}

            <div class="w3-card-4 w3-white w3-margin ">

                <header class="w3-container w3-padding">

                    <a href="/profile">
                        <img src="{{pic.owner.profile_image.url}}" alt="Avatar" class=" w3-left w3-circle" style="max-width:10%">
                         <p><strong>{{pic.owner.username}}</strong></p>
                    </a>


                </header>

                <div>

                    <img src="{{pic.image.url}}" class="w3-image">

                </div>
                <div class="w3-container">
                    <i class="far fa-heart fa-2x w3-margin"></i>


                    <i class="far fa-comment fa-2x "></i>
                    <p class="w3-margin-left"><strong>2 Like</strong> </p>
                    <p class="w3-margin-left"><strong> {{pic.owner.username}} </strong>{{pic.caption}}</p>
                    <hr>
                    <input class="w3-input w3-block w3-margin-bottom" placeholder="Add Comment">


                </div>


            </div>

            {% endfor %}
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>


{% endblock %}
