{% extends 'base.html'%}
{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="w3-card-4">

    <header class="w3-container">
        <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle">
        <h3>John Doe</h3>
    </header>

    <div class="w3-container">

        <hr>
        <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle">

    </div>
    <div class="w3-container w3-center">
        <p>The Italian / Austrian Alps</p>
    </div>


</div>
{% endblock %}
