<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Navbar (sit on top) &ndash;&gt;-->
<!--<div class="w3-container">-->
<!--<div class="w3-top">-->
    <!--<div class="w3-bar w3-white ">-->
        <!--<a href="#" class="w3-bar-item w3-button"><i class="fab fa-instagram"></i>-->
        <!--</a>-->
        <!--<a href="#" class="w3-bar-item w3-button">|</a>-->
        <!--<h2 class="text-center insta w3-bar-item">Instagram</h2>-->
        <!--<input type="text" class="w3-bar-item w3-input w3-light-grey" placeholder="Search">-->
        <!--<a href="#" class="w3-bar-item w3-right "><i class="far fa-user"></i></a>-->
    <!--</div>-->
<!--</div>-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->