<div class="w3-top ">
    <div class="w3-bar w3-white  w3-card ">
        <div class="container">
            <a href="#" class="w3-bar-item " style="border-right: 1px solid #000"><i
                    class="fab fa-instagram fa-2x"> </i>
            </a>
            <h2 class="w3-bar-item" style="font-family: 'Lobster';font-weight:lighter ">Instagram
            </h2>

            <input type="text" class="w3-bar-item w3-input w3-light-grey w3-display-middle w3-hide-small"
                   placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">

            <div class="w3-right">
                {% if user.is_authenticated %}
                <a href="/profile" class="w3-bar-item "><i class="fas fa-upload fa-2x"></i></a>

                <div class="w3-dropdown-hover">
                    <button class="w3-button"><i
                            class="far fa-user fa-2x"></i>
                    </button>

                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button">View Profile</a>

                        <a href="/account/password/change" class="w3-bar-item w3-button">Change Password</a>

                        <a href="/logout" class="w3-bar-item w3-button">Logout</a>
                    </div>
                </div>
                {% else %}

                <a href="/accounts/login" class="w3-bar-item w3-button">Login</a>

                {% endif %}
            </div>
        </div>
    </div>
</div>
