<div class="w3-top ">
    <div class="w3-bar w3-white  w3-card ">
        <a href="#" class="w3-bar-item " style="border-right: 1px solid #000"><i class="fab fa-instagram fa-2x"> </i>
        </a>
        <h2 class="w3-bar-item" style="font-family: 'Lobster'; ">Instagram
        </h2>

        <input type="text" class="w3-bar-item w3-input w3-light-grey w3-display-middle w3-hide-small"
               placeholder="Search">

        <a href="#" class="w3-bar-item w3-right "><i class="far fa-user fa-2x"></i></a>
        <a href="#" class="w3-bar-item w3-right "><i class="fas fa-upload fa-2x"></i></a>

    </div>
</div>
